<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:remove="tag" th:fragment="footer">
    <script src="resources/lib/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="resources/lib/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="resources/lib/js/datatables.min.js" type="text/javascript"></script>
    <script src="resources/lib/js/fnReloadAjax.js" type="text/javascript"></script>
    <script src="resources/lib/js/select2.min.js" type="text/javascript"></script>
    <script src="resources/app/js/common.js" type="text/javascript"></script>
  </div>
</body>
</html>