<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:remove="tag" th:fragment="footer">
		<p>Works Applications Co., Ltd. &#169; 2016 All Rights Reserved.</p>
		<script src="/solaris/resources/lib/js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script src="/solaris/resources/lib/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/solaris/resources/lib/js/datatables.min.js" type="text/javascript"></script>
		<script src="/solaris/resources/lib/js/dataTables.responsive.min.js" type="text/javascript"></script>
		<script src="/solaris/resources/lib/js/fnReloadAjax.js" type="text/javascript"></script>
		<script src="/solaris/resources/lib/js/select2.min.js" type="text/javascript"></script>
		<script src="/solaris/resources/app/js/shared.js" type="text/javascript"></script>
	</div>
</body>
</html>