<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:remove="tag" th:fragment="commonhead">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="resources/lib/css/bootstrap.min.css" />
</head>
<body>
	<nav th:fragment="header"
		class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target="navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./" th:text="#{book.store}">Book
					Store</a>
			</div>
			<form id="language-form" method="post"
				action="employeemanagement/updateLanguage">
				<input id="language-input" type="hidden" name="language" value="" />
			</form>
			<nav class="navbar-collapse collapse">
				<ul id="book-store-navbar" class="nav navbar-nav">
					<li id="nav-home"><a href="./index" th:text="#{home}">Home</a></li>
					<li id="nav-logout"><a href="./logout" th:text="#{logout}">Logout</a></li>
				</ul>
			</nav>
		</div>
	</nav>
</body>
</html>