<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="resources/app/css/shared.css" />
<link rel="stylesheet" href="resources/lib/css/bootstrap.min.css" />
</head>
<body class="unauthorized">
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>

	<div class="container" id="layout">
		<div class="row unauthorized">
			<p>Sorry, you are not authorized to access this page</p>
			<hr />
			<div id="img-unauthorized">
				<img src="resources/app/img/unauthorized.png" />
			</div>
			<a class="btn btn-primary" href="index">Back to home</a>
		</div>
	</div>

	<div class="navbar navbar-fixed-bottom solaris-footer">
		<!-- Common footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>