<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="resources/app/css/login.css" />
<link rel="stylesheet" href="resources/app/css/shared.css" />
<link rel="stylesheet" href="resources/lib/css/bootstrap.min.css" />
</head>
<body>
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<!--  div th:replace="fragments/header_admin :: header"
		th:if="${session.roles.contains('ADMIN')}"></div>
	<div th:replace="fragments/header_sales_manager :: header"
		th:if="${session.roles.contains('fdagfafdsafsafas')}"></div>
	<div th:replace="fragments/header_sales_representative :: header"
		th:if="${session.roles.contains('fdafdasfdas')}"></div -->

	<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
	<h1>WELCOME TO SOLARIS</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" class="btn btn-warning" value="Sign Out" />
	</form>
	<div class="navbar navbar-fixed-bottom solaris-footer">
		<!-- Common footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>