<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Solaris - IT Trainings</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../resources/lib/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../resources/app/css/shared.css" />
<ct th:replace="fragments/header :: commonhead"></ct>
</head>
<body>
    
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container" id="layout">
		<div class="row">
            <img class="solaris-title" src="/solaris/resources/app/img/it-training.png" />
            <span class="solaris-title">IT Training</span>
			<hr></hr>

			<div class="col-lg-12 col-sm-12 table-buttons">
				<button id="new_it_assessment_btn" type="button" data-toggle="modal" data-target="#it-assessment-choose-modal" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true">
					</span> <span class="solaris-button-text"> New Assessment</span>
				</button>
				<button id="it_chapter_btn" type="button" data-toggle="modal" data-target="#chapter-modal" class="btn btn-primary">
					<span class="glyphicon glyphicon-list" aria-hidden="true">
					</span> <span class="solaris-button-text"> Chapters</span>
				</button>
			</div>

			<div class="col-lg-12 col-sm-12">
				<div class="solaris-article">
				    <div class="solaris-paragraph" id="it-1">
				        <h4><img class="iconic" src="/solaris/resources/app/img/magic.png" /> Introduction</h4>
						<p>
							<em><b>Information technology (IT)</b></em> is the application of computers to store, retrieve, 
							transmit and manipulate data, often in the context of a business or other enterprise. IT is 
							considered a subset of information and communications technology (ICT). In 2012, Zuppo proposed 
							an ICT hierarchy where each hierarchy level "contain some degree of commonality in that they are 
							related to technologies that facilitate the transfer of information and various types of electronically 
							mediated communications." Business/IT was one level of the ICT hierarchy.<br/>
							In our business's context, we will mainly learn the laptop specifications from this training session. 
							The following aspects will be covered shortly:<br/>

                         
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();" disabled="disabled">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 1/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="it-2">
					    
						<h4><img class="iconic" src="/solaris/resources/app/img/display.png" /> Display</h4>
						<p>
						    A computer monitor or a computer display is an electronic visual display for computers. 
						    A monitor usually comprises the display device, circuitry, casing, and power supply. 
						    The display device in modern monitors is typically a thin film transistor liquid crystal 
						    display (TFT-LCD) or a flat panel LED display, while older monitors used a cathode ray 
						    tubes (CRT). It can be connected to the computer via VGA, DVI, HDMI, DisplayPort, 
						    Thunderbolt, LVDS (Low-voltage differential signaling) or other proprietary connectors 
						    and signals.<br/>
						    Originally, computer monitors were used for data processing while television receivers 
						    were used for entertainment. From the 1980s onwards, computers (and their monitors) have 
						    been used for both data processing and entertainment, while televisions have implemented 
						    some computer functionality. The common aspect ratio of televisions, and computer monitors, 
						    has changed from 4:3 to 16:10, to 16:9.<br/>
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/display-ports.jpg" />
							<span class="tutorial">Different display ports</span>
						</p>
						<p>
							<h4>Screen Size</h4>
							Clearly, a laptop with a 15.4″ diagonal screen is going to be physically larger than one 
							with a 14″ or 12″ or screen. The actual size of the laptop has been increased in order to 
							hold the larger screen. <br/>
							<b>Widescreen vs. Standard Aspect Ratio</b><br/>
							Although you can still find them here and there, standard aspect screens (4×3 aspect ratio) 
							are starting to disappear. That’s kind of a rip-off, as regular aspect ratio screens are 
							bigger than wide screens, with 16×9 ratios. Now that there’s a widescreen craze with big 
							TVs, the little screens are following, and we will probably be in an all-widescreen world 
							pretty soon; so, we won’t worry about it too much. The LCD makers have geared their factories 
							towards the wide screens, and that means cheaper wide screens.
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/screen-size.gif" />
							<span class="tutorial">Screen measurements</span>
						</p>
						<p>
							<h4>Screen resolution</h4>
							Resolution refers to the amount of pixels across by the amount of pixels up and down. Usually, 
							bigger screens mean bigger resolutions. Also, cheaper screens of the same size have less 
							resolution. You may want to upgrade to the “+” version of the screen you are thinking about 
							if you have good near vision. It will give you more room to move things around and you can see 
							more stuff at once. If you want to see big text, you may want to consider sticking with the 
							standard screen, or even looking for a cheaper model with a lower resolution. We are getting 
							closer to a time where font size and screen resolution won’t matter, but we aren’t there yet. 
							You may want to go and look at different screens at a local computer or electronics store to 
							figure out what size and resolution you like. As time goes on, larger screens keep getting 
							cheaper, and instead of increasing screen size too much laptop prices have come down. If you 
							are aiming for a very small notebook, you will most probably end up with a 12″ screen.<br/>
							Here’s a range of laptop screen sizes and the resolutions that are often displayed on the 
							screen. To give you an idea of how much you can see on the screen we include megapixel 
							values for each screen size:
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/resolution-chart.png" />
						</p>
						
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 2/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="it-3">
						<h4><img class="iconic" src="/solaris/resources/app/img/cable.png" /> I/O Devices</h4>
						<p>
						    In computing, input/output or I/O (or, informally, io or IO) is the communication between 
						    an information processing system, such as a computer, and the outside world, possibly a 
						    human or another information processing system. Inputs are the signals or data received by 
						    the system and outputs are the signals or data sent from it. The term can also be used as 
						    part of an action; to "perform I/O" is to perform an input or output operation. I/O devices 
						    are used by a human (or other system) to communicate with a computer. For instance, a keyboard 
						    or mouse is an input device for a computer, while monitors and printers are output devices. 
						    Devices for communication between computers, such as modems and network cards, typically 
						    perform both input and output operations.<br/><br/>
						    Note that the designation of a device as either input or output depends on perspective. Mouse 
						    and keyboards take physical movements that the human user outputs and convert them into input 
						    signals that a computer can understand; the output from these devices is the computer's input. 
						    Similarly, printers and monitors take signals that a computer outputs as input, and they convert 
						    these signals into a representation that human users can understand. From the human user's 
						    perspective, the process of reading or seeing these representations is receiving input; this 
						    type of interaction between computers and humans is studied in the field of human–computer 
						    interaction.<br/>
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/input-output.png" />
							<span class="tutorial">Commonly used I/O devices</span>
						</p>
						<p>
							<h4>I/O ports</h4>
							A port: is a physical docking point using which an external device can be connected to the 
							computer. It can also be programmatic docking point through which information flows from a 
							program to computer or over the internet.<br/>
							A port has the following characteristics:<br/>
							<ul>
								<li>External devices are connected to a computer using cables and ports.</li>
								<li>Ports are slots on the motherboard into which a cable of external device is plugged in.</li>
								<li>Examples of external devices attached via ports are mouse, keyboard, monitor, microphone, speakers etc.</li>
 						    </ul>
 						    <br/>
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/ports.png" />
							<span class="tutorial">Computer I/O Ports</span>
						</p>
						<p>
							Following are few important types of ports:<br/>
							<b>Serial Port</b> Used for external modems and older computer mouse. Two versions : 9 pin, 25 pin model. 
							Data travels at 115 kilobits per second.<br/><br/>
							
							<b>Parallel Port</b> Used for scanners and printers, also called printer port. 25 pin model, also known 
							as IEEE 1284-compliant Centronics port.<br/><br/>
							
							<b>Universal Serial Bus (or USB) Port</b>It can connect all kinds of external USB devices such as external 
							hard disk, printer, scanner, mouse, keyboard etc. It was introduced in 1997. Most of the computers provide 
							
							<b>2</b> USB ports as minimum. Data travels at 12 megabits per seconds. USB compliant devices can get power 
							from a USB port.<br/><br/>
							
							<b>VGA Port</b>Connects monitor to a computer's video card, has 15 holes. Similar to serial port connector 
							but serial port connector has pins, it has holes.<br/><br/>
							
							<b>Ethernet Port</b>It connects to a network and high speed Internet, connect network cable to a computer. 
							This port resides on an Ethernet Card. Data travels at 10 megabits to 1000 megabits per seconds depending 
							upon the network bandwidth.<br/><br/>
							
							<b>Digital Video Interface, DVI port</b>Connects Flat panel LCD monitor to the computer's high end video 
							graphic cards. It is very popular among video card manufacturers.<br/><br/>
							
							<b>Sockets</b>Connect microphone, speakers to sound card of the computer.<br/><br/>
						</p>
						
						   
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 3/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="it-4">
						<h4><img class="iconic" src="/solaris/resources/app/img/memory.png" /> Memory</h4>
						<p>
							The computer memory is a temporary storage area. It holds the data and instructions that the Central 
							Processing Unit (CPU) needs. Before a program can be run, the program is loaded from some storage 
							medium into the memory. This allows the CPU direct access to the program. Memory is a need for any 
							computer.<br/>
							
							A computer is usually an electrical device, which understands only electricity on and electricity 
							off. This is expressed by using two symbols – 0 and 1 – which are called binary digits or bits. Numbers 
							and text characters are represented as codes, which are made up of combinations of 0s and 1s. Simple 
							character codes are called ASCII (the American Standard Code for Information Interchange), and Unicode. 
							In ASCII, eight bits – any combination of 0s and 1s – form one character or symbol. For example, the 
							letter A is denoted by the code 01000001. The basic working unit of the computer's memory is a group 
							of eight bits, which is called a byte.<br/>
							
							The computer's memory consists of many millions of bytes. To make it easier, the unit K (for kilobytes) 
							can be used to express memory capacity. One K equals 1,024. For example, 64K bytes of memory is the same 
							as 65,536 (1,024 × 64 = 65,536) bytes. For larger memory capacities, the units mega and giga can be used. 
							One megabyte of computer memory usually means 1024 kilobytes, which is 1,048,576 bytes, whereas one gigabyte 
							means 1024 megabytes, which is 1,073,741,824 bytes.<br/>
							
							The CPU calls instructions and data from the computer's memory. Because the same computer performs different 
							tasks at different times, the memory is erasable—much like an audio cassette. But there are some programs 
							and instructions which the computer will always need. These programs often are permanently recorded in the 
							memory. So they cannot be destroyed. As a result, the computer's memory usually consists of two parts:<br/>
						</p>
						<p>
							<b>Read Only Memory (ROM)</b>Read only memory (ROM) is the permanent memory which is used to store important 
							control programs and systems software to perform a variety of functions, such as booting up or starting up 
							programs. ROM is non-volatile. That means the contents are not lost when the power is switched off. Its 
							contents are written at the time of manufacture, but in modern (2012) computers may be changed using special 
							software.<br/>
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/bios.jpg" />
							<span class="tutorial">A typical ROM: the computer BIOS, a PROM chip that stores the programming needed 
							to begin the initial computer start up process</span>
						</p>
							
					    <p>
						<b>Random Access Memory (RAM)</b>Random access memory (RAM) is used as the working memory of a computer system. 
						It stores input data, intermediate results, programs, and other information temporarily. It can be read and/or 
						written. It is usually volatile, that is all data will be lost when the power is turned off. In most cases it 
						is loaded again from hard disk which is used as data storage.<br/>
					    </p>
					    
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/ram.jpg" />
							<span class="tutorial">RAM on the computer motherboard</span>
						</p>
						
						<p>
							There is one major difference between a ROM and a RAM chip. A ROM chip is non-volatile storage and does not 
							require a constant source of power to retain information stored on it. When power is lost or turned off, a 
							ROM chip will keep the information stored on it. In contrast, a RAM chip is volatile and requires a constant 
							source of power to retain information. When power is lost or turned off, a RAM chip will lose the information 
							stored on it.<br/>
							A ROM chip is used primarily in the start up process of a computer, whereas a RAM chip is used in the normal 
							operations of a computer after starting up and loading the operating system.<br/>
							Writing data to a ROM chip is a slow process, whereas writing data to a RAM chip is a faster process.<br/>
							A RAM chip can store multiple gigabytes (GB) of data, up to 16 GB or more per chip; A ROM chip typically stores 
							only several megabytes (MB) of data, up to 4 MB or more per chip.<br/>
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/memory_tree.png" />
							<span class="tutorial">RAM vs ROM</span>
						</p>
						
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 4/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="it-5">
						<h4><img class="iconic" src="/solaris/resources/app/img/hdd.png" /> Hard Disk Drive (HDD)</h4>
						<p>
							A hard disk drive (HDD), hard disk, hard drive or fixed disk[b] is a data storage device used for 
							storing and retrieving digital information using one or more rigid ("hard") rapidly rotating disks 
							(platters) coated with magnetic material. The platters are paired with magnetic heads arranged on 
							a moving actuator arm, which read and write data to the platter surfaces.[2] Data is accessed in a 
							random-access manner, meaning that individual blocks of data can be stored or retrieved in any order 
							and not only sequentially. HDDs are a type of non-volatile memory, retaining stored data even when 
							powered off.<br/>

							Introduced by IBM in 1956,[3] HDDs became the dominant secondary storage device for general-purpose 
							computers by the early 1960s. Continuously improved, HDDs have maintained this position into the modern 
							era of servers and personal computers. More than 200 companies have produced HDD units, though most 
							current units are manufactured by Seagate, Toshiba and Western Digital. As of 2015, HDD production 
							(exabytes per year) and areal density are growing, although unit shipments are declining.<br/>
						</p>
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/hdd-diagram.jpg" />
							<span class="tutorial">A inside look into HDD</span>
						</p>
						<p>
							<b>SSD</b><br/>
							A solid-state drive (SSD, also known as a solid-state disk although it contains neither an 
							actual disk nor a drive motor to spin a disk) is a solid-state storage device that uses integrated 
							circuit assemblies as memory to store data persistently. SSD technology primarily uses electronic 
							interfaces compatible with traditional block input/output (I/O) hard disk drives, which permit simple 
							replacements in common applications.[4] Additionally, new I/O interfaces, like SATA Express, have been 
							designed to address specific requirements of the SSD technology.<br/>
							
							SSDs have no moving (mechanical) components. This distinguishes them from traditional electromechanical 
							magnetic disks such as hard disk drives (HDDs) or floppy disks, which contain spinning disks and movable 
							read/write heads.[5] Compared with electromechanical disks, SSDs are typically more resistant to physical 
							shock, run silently, have lower access time, and lower latency.[6] However, while the price of SSDs has 
							continued to decline over time,[7] consumer-grade SSDs are (as of 2016) still roughly four times more 
							expensive per unit of storage than consumer-grade HDDs. <br/>
							
							As of 2015, most SSDs use MLC NAND-based flash memory, which is a type of non-volatile memory that retains 
							data when power is lost. For applications requiring fast access but not necessarily data persistence after 
							power loss, SSDs may be constructed from random-access memory (RAM). Such devices may employ batteries as 
							integrated power sources to retain data for a certain amount of time after external power is lost.<br/>
							
							Hybrid drives or solid-state hybrid drives (SSHDs) combine the features of SSDs and HDDs in the same unit, 
							containing a large hard disk drive and an SSD cache to improve performance of frequently accessed data.
						</p>
						
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 5/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="it-6">
						<h4><img class="iconic" src="/solaris/resources/app/img/cpu.png" />Central Processing Unit (CPU)</h4>
						<p>
							A central processing unit (CPU) is the electronic circuitry within a computer that carries out the instructions 
							of a computer program by performing the basic arithmetic, logical, control and input/output (I/O) operations 
							specified by the instructions. The term has been used in the computer industry at least since the early 1960s. 
							Traditionally, the term "CPU" refers to a processor, more specifically to its processing unit and control unit 
							(CU), distinguishing these core elements of a computer from external components such as main memory and I/O 
							circuitry.<br/><br/>
							
							The form, design and implementation of CPUs have changed over the course of their history, but their fundamental 
							operation remains almost unchanged. Principal components of a CPU include the arithmetic logic unit (ALU) that 
							performs arithmetic and logic operations, processor registers that supply operands to the ALU and store the 
							results of ALU operations, and a control unit that fetches instructions from memory and "executes" them by 
							directing the coordinated operations of the ALU, registers and other components.<br/><br/>
							
							Most modern CPUs are microprocessors, meaning they are contained on a single integrated circuit (IC) chip. An 
							IC that contains a CPU may also contain memory, peripheral interfaces, and other components of a computer; such 
							integrated devices are variously called microcontrollers or systems on a chip (SoC). Some computers employ a 
							multi-core processor, which is a single chip containing two or more CPUs called "cores"; in that context, single 
							chips are sometimes referred to as "sockets".[3] Array processors or vector processors have multiple processors 
							that operate in parallel, with no unit considered central.<br/><br/>
						</p>
						
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/AMD.jpg" />
							<span class="tutorial">An AMD CPU</span>
						</p>
						<p>
							<b>Intel VS AMD</b><br/><br/>
							When it comes to CPUs, you have one of two firms to choose from: AMD and Intel. These companies make virtually 
							all of the world’s desktop PC CPUs, but that’s where the similarities between the two firms end, for the most 
							part. So, should you go for an AMD or Intel CPU when building your PC?<br/><br/>
							
							<em>Value</em> 
							Both companies offer processors at a wide range of price points, but AMD chips are available for less. The least 
							expensive Sempron and Athlon dual-core processors sell for between $30 and $40. Intel’s least expensive Celeron, 
							the G1820 dual-core, is $45. That doesn’t necessarily mean AMD chips are a better value, however.  Reviewers have 
							generally found that Intel provides superior compute performance per dollar, even at the low end of the market. 
							You’ll generally receive a better processor for your money buy purchasing a Celeron, Pentium or Core product.<br/>
							
							AMD chips also tend to offer better integrated graphics at any given price point. The AMD A10-7870K, for example, 
							can play most games at low to medium detail and 1080p resolution. It’s no gaming powerhouse, but it greatly exceeds 
							the performance of any Intel HD Graphics solution, so you might be better off with AMD if you need to play League 
							of Legends on a budget.<br/>
							
							<em>Overclocking</em> Most CPUs have a fixed clock speed, and they’re typically set at a level which ensures that 
							they’ll remain stable while performing optimally. Users looking to get more performance out of their CPU sometimes 
							perform a tweak to the processor known as “overclocking,” which increases the CPU’s clock speed above the base rate.
							<br/>
							AMD supports overclocking most consistently than Intel. AMD A-Series APUs offer the feature for as little as $45, 
							and thereare six AMD chips with an unlocked multiplier under $100. Intel offers only one budget overclocking option, 
							the Pentium G3258, at $70. It’s a doozy, though, as many samples overclock from the base clock of 3.2GHz up to around 
							4.5GHz.<br/>
							
							Intel doesn’t really offer over-clocking in mid-range chips, while AMD does. Whether that makes AMD the better choice 
							if you’re willing to overclock is arguable, and depends both on how much effort you’re willing to put into over-clocking, 
							and the workload your system will run.<br/>
							
							There are several high-end Intel chips with overclocking, some offering eight physical cores. These chips are quicker 
							than anything AMD can offer at stock clocks, so when overclocked they indisputably dominate. You can’t buy anything 
							quicker for home use.<br/><br/>
						</p>
							
							<p class="tutorial">
								<img class="tutorial" src="/solaris/resources/app/img/cpu-dual.png" />
								<span class="tutorial">Intel vs. AMD</span>
						    </p>
						    
						<p>
							<em>Power efficiency</em> AMD’s struggle to keep up with Intel is actually worse than it first appears. The company 
							has managed to stay somewhat competitive, but to do so its processors must consume far more power.<br/>
							
							Intel’s Pentiun G3258, for example, is rated with a Thermal Design Power of 53 watts. AMD’s A6-7400K, which is priced 
							similarly, has 65-watt TDP. Even so, reviews have found the Pentium chip quicker by most performance metrics, and 
							sometimes by a substantial margin.<br/>
							
							With a desktop, this means the Intel chip will perform better while using less power. This is unlikely to have be 
							noticeable on your power bill, but the AMD desktop will produce more noise and heat. If you’re looking at a laptop, 
							the efficiency gap is important because it will impact battery life. Intel-powered systems tend to last far longer on 
							a charge. This weakness has nearly pushed AMD out of the laptop market altogether. The company’s APUs are rarely found 
							in systems sold above $500, and I wouldn’t recommend buying an expensive AMD-powered laptop if you find one.<br/><br/>
							
							<em>The bottom line</em> AMD and Intel have battled for two decades, but in recent years the battle has become a bit 
							one-sided. New Pentium and Core chips have slowly edged out AMD at a variety of price points.<br/>
							If you have a high budget, then Intel is obviously the way to go. This remains true until your budget falls low enough 
							that the cheapest Core i5 quad is no longer an option for you. AMD just can’t compete with Intel’s best.<br/>
							Those on a budget should give AMD’s chips a look. They offer more cores and better integrated graphics for those who 
							have less than $180 to spend on a processor. These traits can make up for AMD’s inferior per-core performance in certain 
							workloads. For example, the A10-7870K tends to encode video faster than similarly priced Intel Core i3 chips. It also 
							offers far superior graphics performance if a discrete video card is not a possibility.<br/>
							However, Intel has its perks. Even the company’s dual-cores are surprisingly competitive with Intel quads in intense 
							workloads. Intel chips are also far more power efficient, so they tend to produce less noise and heat. Those traits 
							can be important for a family PC, and if you’re looking at a laptop, Intel’s greater efficiency means better battery 
							life.<br/>
							So, the bottom line is this: Intel is generally superior. There are situations where AMD makes sense, but the company 
							has been reduced to depending on niche scenarios. If you can’t make up your mind, go Intel. It’s likely the better 
							choice for you.<br/><br/>
						</p>
						
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 6/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>
					
					<div class="solaris-paragraph" id="it-7">
						<h4><img class="iconic" src="/solaris/resources/app/img/gpu.png" /> Graphics processing unit (GPU)</h4>
						<p>
							A graphics processing unit (GPU), also occasionally called visual processing unit (VPU), is a specialized electronic 
							circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended 
							for output to a display. GPUs are used in embedded systems, mobile phones, personal computers, workstations, and game 
							consoles. Modern GPUs are very efficient at manipulating computer graphics and image processing, and their highly 
							parallel structure makes them more efficient than general-purpose CPUs for algorithms where the processing of large 
							blocks of data is done in parallel. In a personal computer, a GPU can be present on a video card, or it can be embedded 
							on the motherboard or—in certain CPUs—on the CPU die.<br/>
							The term GPU was popularized by Nvidia in 1999, who marketed the GeForce 256 as "the world's first GPU", or Graphics 
							Processing Unit.[2] It was presented as a "single-chip processor with integrated transform, lighting, triangle 
							setup/clipping, and rendering engines that are capable of processing a minimum of 10 million polygons per second". Rival 
							ATI Technologies coined the term visual processing unit or VPU with the release of the Radeon 9700 in 2002.<br/>
						</p>
						
						<p class="tutorial">
							<img class="tutorial" src="/solaris/resources/app/img/gpu-inside.jpg" />
							<span class="tutorial">What the inner of an NVIDIA GPU looks like</span>
						</p>
						
						<p>
							<b>GPU forms</b><br/><br/>
							<em>Dedicated graphics cards</em><br/>
							The GPUs of the most powerful class typically interface with the motherboard by means of an expansion slot such as PCI 
							Express (PCIe) or Accelerated Graphics Port (AGP) and can usually be replaced or upgraded with relative ease, assuming 
							the motherboard is capable of supporting the upgrade. A few graphics cards still use Peripheral Component Interconnect 
							(PCI) slots, but their bandwidth is so limited that they are generally used only when a PCIe or AGP slot is not available. 
							A dedicated GPU is not necessarily removable, nor does it necessarily interface with the motherboard in a standard fashion. 
							The term "dedicated" refers to the fact that dedicated graphics cards have RAM that is dedicated to the card's use, not to 
							the fact that most dedicated GPUs are removable. Dedicated GPUs for portable computers are most commonly interfaced through 
							a non-standard and often proprietary slot due to size and weight constraints. Such ports may still be considered PCIe or AGP 
							in terms of their logical host interface, even if they are not physically interchangeable with their counterparts. Technologies 
							such as SLI by Nvidia and CrossFire by AMD allow multiple GPUs to draw images simultaneously for a single screen, increasing 
							the processing power available for graphics.<br/><br/>
							
							<em>Integrated graphics solutions</em><br/>
							Integrated graphics solutions, shared graphics solutions, or integrated graphics processors (IGP) utilize a portion of a 
							computer's system RAM rather than dedicated graphics memory. IGPs can be integrated onto the motherboard as part of the 
							chipset, or within the same die as CPU (like AMD APU or Intel HD Graphics). On certain motherboards AMD's IGPs can 
							use dedicated sideport memory. This is a separate fixed block of high performance memory that is dedicated for use by the 
							GPU. In early 2007, computers with integrated graphics account for about 90% of all PC shipments. These solutions are less 
							costly to implement than dedicated graphics solutions, but tend to be less capable. Historically, integrated solutions were 
							often considered unfit to play 3D games or run graphically intensive programs but could run less intensive programs such as 
							Adobe Flash. Examples of such IGPs would be offerings from SiS and VIA circa 2004.[47] However, modern integrated graphics 
							processors such as AMD Accelerated Processing Unit and Intel HD Graphics are more than capable of handling 2D graphics or 
							low stress 3D graphics. As a GPU is extremely memory intensive, an integrated solution may find itself competing for the 
							already relatively slow system RAM with the CPU, as it has minimal or no dedicated video memory. IGPs can have up to 29.856 GB/s 
							of memory bandwidth from system RAM, however graphics cards can enjoy up to 264 GB/s of bandwidth between its RAM and GPU core. 
							This bandwidth is what is referred to as the memory bus and can be performance limiting.[citation needed] Older integrated 
							graphics chipsets lacked hardware transform and lighting, but newer ones include it.<br/><br/>
							
							<em>Hybrid solutions</em><br/>
							This newer class of GPUs competes with integrated graphics in the low-end desktop and notebook markets. The most common 
							implementations of this are ATI's HyperMemory and Nvidia's TurboCache. Hybrid graphics cards are somewhat more expensive 
							than integrated graphics, but much less expensive than dedicated graphics cards. These share memory with the system and 
							have a small dedicated memory cache, to make up for the high latency of the system RAM. Technologies within PCI Express 
							can make this possible. While these solutions are sometimes advertised as having as much as 768MB of RAM, this refers to 
							how much can be shared with the system memory.<br/>
							
						</p>
						
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 7/7 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();" disabled="disabled">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
						
						<br/><br/><br/>
						<div class="training-notification">
							<span>Congratulations! <br/>You have finished the course</span><br/>
							<a href="/solaris//trainings/assessments/it" target="_blank" id="it_assessment_btn" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true">
							</span> <span class="solaris-button-text">New Assessment</span>
							</a>
						</div>
							
					</div>
				</div>
			</div>

		</div>

		<!-- IT training chapter modal -->
	    <div class="modal fade" id="chapter-modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">IT Training : Menu</h4>
					</div>
					<div class="modal-body">
						<div class="iconic">
						    <button class="iconic" onclick="show(0);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/magic.png" />Introduction</button><br/>
							<button class="iconic" onclick="show(1);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/display.png" />Display</button><br/>
							<button class="iconic" onclick="show(2);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/cable.png" />I/O devices</button><br/>
						    <button class="iconic" onclick="show(3);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/memory.png" />Memory</button><br/>
							<button class="iconic" onclick="show(4);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/hdd.png" />Hard Disk Drive</button><br/>
							<button class="iconic" onclick="show(5);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/cpu.png" />CPU</button><br/>
							<button class="iconic" onclick="show(6);hideMenu();"><img class="iconic" src="/solaris/resources/app/img/gpu.png" />GPU</button><br/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- IT assessment options modal -->
	    <div class="modal fade" id="it-assessment-choose-modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Choose an assessment to take:</h4>
					</div>
					<div class="modal-body">
						<div>
							<a type="button" class="btn btn-primary" href="/solaris//trainings/assessments/it/01" target="_blank">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
								Assessment No.1
							</a>
						</div><br/>
						
						<div>
							<a type="button" class="btn btn-primary" href="/solaris//trainings/assessments/it/02" target="_blank">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
								Assessment No.2
							</a>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="navbar navbar-fixed-bottom solaris-footer">
		<!-- Common footer -->
		<div th:replace="fragments/footer-without-datatable :: footer"></div>
	</div>
	<script src="/solaris/resources/app/js/sub-trainings.js" type="text/javascript"></script>
</body>
</html>