<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Solaris - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="resources/app/css/login.css" />
<link rel="stylesheet" href="resources/app/css/shared.css" />
<link rel="stylesheet" href="resources/lib/css/bootstrap.min.css" />
</head>
<body>
	<div class="login-container">
		<!-- Common header -->
		<div th:replace="fragments/header_login :: header"></div>
		<div class="solaris-caption">
			<em>Sell laptops like no other.</em>
			<p><b>Solaris</b> is an application that helps you boost your laptop
				sales business. With the specially customized functions for
				small-scaled sales groups, you can just sit back and watch Solaris makes
				your business a better one.</p>
		</div>

		<div th:if="${param.logout}">You have been logged out.</div>
		<div>
			<div class="solaris-login-form">
				<form th:action="@{/login}" method="post">
					<div>
						<input type="text" name="username" placeHolder="Username" />
					</div>
					<div>
						<input type="password" name="password" placeHolder="Password" />
					</div>
					<div class="solaris-error" th:if="${param.error}">Invalid
						username or password.</div>
					<div>
						<input type="submit" class="btn btn-success" value="Sign In" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="navbar navbar-fixed-bottom solaris-footer">
		<!-- Common footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>