<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Solaris - Login</title>
<link rel="stylesheet" href="" />
</head>
<body>
	<div class="header-img">
		<img alt="logo" src="resources/app/img/logo.png" />
	</div>

	<div th:if="${param.logout}">You have been logged out.</div>
	<div>
		<form th:action="@{/login}" method="post">
			<h2>Login</h2>
			<div>
				<input type="text" name="username" placeHolder="Username" />
			</div>
			<div>
				<input type="password" name="password" placeHolder="Password" />
			</div>
			<div th:if="${param.error}">Invalid username or password.</div>
			<div>
				<input type="submit" value="Sign In" />
			</div>
		</form>
	</div>
</body>
</html>