<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Solaris Login</title>
<link rel="stylesheet" href="resources/app/css/bookstore-signin.css" />
</head>
<body>
	<div>
		<form method="post">
			<h2>Login</h2>
			<label for="inputUsername">Username</label> <input type="text"
				id="inputUsername" name="userId" placeholder="Username" required="required" autofocus="autofocus" />
			<label for="inputPassword">Password</label> <input type="password"
				id="inputPassword" name="password" placeholder="Password" required="required" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>
	</div>
</body>
</html>
