<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Solaris - Sales Trainings</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../resources/lib/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../resources/app/css/shared.css" />
<ct th:replace="fragments/header :: commonhead"></ct>
</head>
<body>
    
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container" id="layout">
		<div class="row">
            <img class="solaris-title" src="/solaris/resources/app/img/sales-training.jpg" />
            <span class="solaris-title">Sales Training</span>
			<hr></hr>

			<div class="col-lg-12 col-sm-12 table-buttons">
				<button id="new_sales_assessment_btn" type="button" data-toggle="modal" data-target="#sales-assessment-choose-modal" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true">
					</span> <span class="solaris-button-text"> New Assessment</span>
				</button>
				<button id="sales_chapter_btn" type="button" data-toggle="modal" data-target="#chapter-modal" class="btn btn-primary">
					<span class="glyphicon glyphicon-list" aria-hidden="true">
					</span> <span class="solaris-button-text"> Chapters</span>
				</button>
			</div>

			<div class="col-lg-12 col-sm-12">
				<div class="solaris-article">
				    <div class="solaris-paragraph" id="sales-1">
				        <h4>Introduction</h4>
						<p>
							<em><b>It's</b></em> good to know some sales techniques, even if you don't work in a formal sales role. 
							Whether you're trying to convince a new person to join your organization, or describing 
							a new product to a client over a catch-up call, knowing how to sell is a great ability 
							to have, and it's one that's sure to be respected strongly within your company.<br/>
							In this article, we'll look at the consultative sales model, and examine how you can 
							apply it to sell an idea, product, or service. We'll look at how to prepare, what to 
							say, and how to handle questions and objections so that your next "sale" will be a 
							success.
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();" disabled="disabled">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 1/6 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="sales-2">
						<h4>Consultative Selling</h4>
						<p>
						    In consultative selling you act as a consultant: you help identify the needs of your 
						    client (in this case, your team, boss, or external customers), and then suggest products 
						    and solutions that meet those needs.<br/>
						    Consultative selling demands a higher level of trust and credibility than some other sales 
						    models. So, it's a great model to use simply because that foundation of trust is probably 
						    already there – if you're selling an idea to the executive board, your boss, your team, or 
						    current clients and customers, you've hopefully got a good relationship already in place, 
						    and you can use this to your advantage.<br/>
						    Also, because consultative selling focuses on helping your audience (rather than helping 
						    yourself to make a "sale"), it's more natural and intuitive. So it's easier to use if you're 
						    not a natural salesperson.
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 2/6 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="sales-3">
						<h4>Preparation</h4>
						<p>
						    Whether you're selling an idea, a project, a product, or even a job in your organization, 
						    you must enter that situation with an expert understanding of your audience, and of what 
						    they care about. So effective selling means lots of preparation, meaning that much of your 
						    work will come before your speak to the people you're selling to.<br/>
						    Follow these tips to help in your preparation process:<br/>
						    <ul>
						    	<li><b>Identify your target audience</b>– With whom will you speak? Is it your boss, 
						    	a key client, or your team? And is just one person involved in the purchase, or do you 
						    	need to influence other stakeholders in his or her organization?
						    	</li>
						    	<li><b>Identify key drivers</b>– You must understand what's driving your audience. For 
						    	instance, if your organization's goal is to increase profits by 10 percent this year, 
						    	how will your product/idea/project help them accomplish that goal?
						    	</li>
						    	<li><b>Identify the language that people use</b>– If you're addressing a technical 
						    	audience, be prepared to present using technical language and ideas. If you're selling 
						    	to finance people, use numbers and data to craft your message.
						    	</li>
						    	<li><b>Determine exactly what you're "selling"</b>– Is it a new feature that you want 
						    	added to the company's payroll process? A new product idea? A new reporting process for 
						    	your department's most important client? Identify what it is, and learn as much as you 
						    	can about it.
						    	</li>
						    	<li><b>Connect your audience and your product with benefits</b>– Great marketers and 
						    	salespeople understand that there's a distinct difference between features and benefits. 
						    	This is because your audience cares about only one thing: "What's in it for me?" So, it's 
						    	crucial to know the key differences:
						    		<ul>
						    			<li><b>Features </b>are what your product or idea does. For instance, the new 
						    			accounting software you want everyone to use is fast and easy, and it has real-time 
						    			reporting. These are the features of the software.</li>
						    			<li><b>Benefits </b>are what those features mean to your audience. For instance, 
						    			the accounting software's benefits are that people will have more time to do other 
						    			tasks, they'll be less stressed when they're using the program, and they'll get 
						    			up-to-date information from the system.</li>
						    		</ul><br/>
						        Features are boring, and people have to think quite hard to see the possibilities within 
						        them. But when you translate those features into benefits, you make an emotional connection 
						        with your audience.<br/>
						        When you're doing your pre-meeting preparation, focus on identifying the benefits of your 
						        idea or product, so that you can communicate that information to your audience.
						    	</li>
						    	<li><b>Understand the needs of your target audience</b>– Identify problems that your product 
						    	or idea will help solve, and needs that it will address. This will directly impact the way 
						    	you pitch, or sell, your idea. If you're speaking with people who are not in your industry, 
						    	make sure you use words and terms they can understand.
						    	</li>
						    	<li><b>Highlight your Unique Selling Proposition Add to My Personal Learning Plan (USP)</b> 
						    	– People buy the best possible solution that meets their needs and their budget. Make sure 
						    	that you highlight what makes your product, idea, or project uniquely relevant to them.
						    	</li>
						    </ul>
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 3/6 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="sales-4">
						<h4>During the "Pitch"</h4>
						<p>
							Here are a few guidelines to follow during your pitch:<br/>
							<ul>
								<li><b>Have a conversation</b>
									 – You want to connect with your audience, so your presentation or pitch should feel more 
									 like a conversation. It may be unappealing to your audience – and to you – to get up in 
									 front of people and "sell" them something. But you can talk enthusiastically about an 
									 idea or product that you really believe in, and you can then discuss how it will help 
									 your audience.
								</li>
								<li><b>Ask questions</b>
									– Involving your audience is key to keeping them engaged. If you meet with someone 
									individually, like a client or your boss, then be sure to listen as much as you talk. 
									If you're presenting to a group, invite questions at key stages during the presentation.
								</li>
								<li><b>Focus on "helping" instead of "selling"</b>
									– Consultative selling means that you identify what your audience needs. Focus on these, 
									and keep your own goals and agenda out of the conversation.
								</li>
								<li><b>Watch body language</b>
									– Pay attention to everyone's <a href="https://www.mindtools.com/pages/article/Body_Language.htm" target="_blank">
									body language</a> Add to My Personal Learning Plan during your 
									pitch. If people start to look bored or move their hands and feet a lot, then you need to 
									finish, or move onto the next part of your pitch.
								</li>
							</ul>
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 4/6 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="sales-5">
						<h4>Dealing with Objections</h4>
						<p>
							No matter what you're pitching, your audience will probably have some objections or reservations. 
							If you haven't prepared for this, then it may cause you to become frustrated and lose some control. 
							That's why knowing how to <a href="https://www.mindtools.com/pages/article/ThinkingonYourFeet.htm" target="_balnk">
							think on your feet</a> Add to My Personal Learning Plan to overcome these objections is so important.<br/>

							It's helpful to realize that objections aren't a definite "no." They show that your audience is 
							willing to ask questions and state their concerns. So, objections are your opportunity to address 
							their fears, reassure them, and move forward positively.<br/>

							Whenever your audience presents an objection, you should ask questions. For instance, if your boss 
							says the new process you've created will be too expensive to implement right now, you may choose one 
							of these responses:

							<ol>
								<li>
									"It is expensive, but how much does it cost us each week to deal with this issue? And if we do 
									nothing, how much will it cost us over the next year?"
								</li>
								<li>
									"You're right, this will be an expensive process to implement company-wide. What if we start 
									with just one department to see how much it improves productivity?"
								</li>
							</ol><br/>
							When you approach objections with questions, it helps you find the real root of the issue. It also 
							shows your client or audience that you are aware of their concerns, and that you want to work with 
							them to find a solution.
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 5/6 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
					</div>

					<div class="solaris-paragraph" id="sales-6">
						<h4>Closing the Sale</h4>
						<p>
							If you don't get a decision on the day, give your audience time to think about things. But don't leave 
							this open-ended. Your chances of a successful sale drop dramatically if you don't get some kind of 
							commitment from them.<br/>
							So, as you're finishing your pitch, set a specific date or time to speak with them again. This will 
							also give you the opportunity to tailor your pitch if required, based on any issues or objections they 
							may have.<br/>
							If you discover that your product or idea truly isn't a good fit with your audience, then withdraw 
							gracefully. People rarely do this, so it may be a pleasant surprise to your audience, and they'll likely 
							be more receptive the next time you speak to them. 
						</p>
						<div class="page-navigation">
							<button type="button" class="btn btn-primary" onclick="goPrevPage();">
									<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 
									Prev
							</button>
							<span> 6/6 </span>
							<button type="button" class="btn btn-primary" onclick="goNextPage();" disabled="disabled">
									<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 
									Next
							</button>
						</div>
						
						<div class="training-notification">
							<span>Congratulations! <br/>You have finished the course</span><br/>
							<a href="/solaris//trainings/assessments/sales" target="_blank" id="sales_assessment_btn" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true">
							</span> <span class="solaris-button-text">New Assessment</span>
							</a>
						</div>
						
					</div>
				</div>
			</div>

		</div>

		<!-- sales training chapter modal -->
	    <div class="modal fade" id="chapter-modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Sales Training : Menu</h4>
					</div>
					<div class="modal-body">
						<div>
							<button type="button" class="btn btn-primary" onclick="show(0);hideMenu();">
								<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
								Introduction
							</button>
						</div><br/>
						
						<div>
							<button type="button" class="btn btn-primary" onclick="show(1);hideMenu();">
								<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
								Consultative Selling
							</button>
						</div><br/>

						<div>
							<button type="button" class="btn btn-primary" onclick="show(2);hideMenu();">
								<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
								Preparation
							</button>
						</div><br/>

						<div>
							<button type="button" class="btn btn-primary" onclick="show(3);hideMenu();">
								<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
								During the "Pitch"
							</button>
						</div><br/>

						<div>
							<button type="button" class="btn btn-primary" onclick="show(4);hideMenu();">
								<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
								Dealing with Objections
							</button>
						</div><br/>

						<div>
							<button type="button" class="btn btn-primary" onclick="show(5);hideMenu();">
								<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 
								Closing the Sale
							</button>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- sales assessment options modal -->
	    <div class="modal fade" id="sales-assessment-choose-modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Choose an assessment to take:</h4>
					</div>
					<div class="modal-body">
						<div>
							<a type="button" class="btn btn-primary" href="/solaris//trainings/assessments/sales/01" target="_blank">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
								Assessment No.1
							</a>
						</div><br/>
						
						<div>
							<a type="button" class="btn btn-primary" href="/solaris//trainings/assessments/sales/02" target="_blank">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
								Assessment No.2
							</a>
						</div><br/>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="navbar navbar-fixed-bottom solaris-footer">
		<!-- Common footer -->
		<div th:replace="fragments/footer-without-datatable :: footer"></div>
	</div>
	<script src="/solaris/resources/app/js/sub-trainings.js" type="text/javascript"></script>
</body>
</html>