div.report-section-container {
	
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	
}

div.full-width-chart {
	margin-top: 15px;
}

div.report-section-container {
	text-align: center;
	padding: 10px;
}

div.report-section-container > span {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/* Imported from sb admin 2 */
.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c !important;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f !important;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e !important;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/********************** Imported from sb admin 2 ******************/
