div.new_enterprise_exhibition {
	margin-top: 10px;
}

ul.new_enterprise_exhibition{
	list-style-type: none;
}

ul.new_enterprise_exhibition li {
    padding: 5px;
	margin: 8px 5px 8px 0px;
}

ul.new_enterprise_exhibition li a {
	
	border-radius: 3px;
	padding: 7px;
    color: #ffffff;
    font-size: 1em;
}

ul.new_enterprise_exhibition li.new_enterprise a {
	background-color: #5cb85c;
    border-color: #4cae4c;
}

ul.new_enterprise_exhibition li.new_exhibition a {
	background-color: #428bca;
    border-color: #428bca;
}

ul.new_enterprise_exhibition li.new_retailer a {
	background-color: #563d7c;
    border-color: #563d7c;
}

.find_new_tab {
	display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 400px;
    background-color: rgba(11, 11, 11, 0.9);
    background-image: url("../img/loading2.gif");
    background-repeat: no-repeat;
    background-position: center;
}

div.find_new_container {
     background-color: rgba(153,153,153,0.2);
}

div.tab-title {
	
    margin: 10px 0 15px 0;
    border-bottom: 1px solid #ccc;
}

div.tab-title h4 {
	font-weight: bold;
	padding-left: 5px;
}






















