html, body {
	height: 100%;
	min-height: 450px;
	min-width: 310px;
}

.solaris-footer {
	color: #aeaeae;
	background: rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 0.85em;
	font-style: italic;
	text-decoration: underline;
	padding-top: 10px;
}

/* specifically customized style for logout form inside the dropdown menu */
input[type=submit].solaris-logout {
	-webkit-appearance: listitem;
	-moz-appearance: menuitem;
	display: block;
	background-color: #f0ad4e;
	color: #FFFFFF;
	width: 100%;
	text-align: left;
	padding: 3px 18px;
	width: 100%;
}

input[type=file].solaris-file-input {
	width: 35%;
	min-width: 250px;
	cursor: pointer;
	font-weight: bold;
	font-style: italic;
}

li.solaris-logout {
	background-color: #f0ad4e
}

div.solaris-title>p {
	font-size: 200%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	padding-left: 10px;
	color: #337ab7;
	font-weight: bold;
	text-align: center;
}

div.solaris-title>p>img {
	display: inline-block;
	width: 66px;
	height: 66px;
	margin-left: 10px;
}

.solaris-table-container {
	background: #e7e7e7;
	padding: 10px;
	border-radius: 4px;
}

.solaris-table-container>div>table {
	background: #FFFFFF;
}

.solaris-table-container table tr {
	padding: 0px;
}

.solaris-table-container table th {
	background: #337ab7;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}



.table-buttons {
	background: #d0d0d0;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.table-buttons>button {
	margin-right: 5px;
}

div.form-container {
	float: none;
	margin: 0 auto;
	background-color: #f4f2e7;
	padding-top: 10px;
	border-radius: 5px;
}

div.unauthorized>p {
	text-align: center;
	color: #ff4444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	font-size: 250%;
}

div.unauthorized #img-unauthorized img {
	width: 344px;
	height: 141px;
	display: block;
	margin: auto;
	width: 344px;
}

.unauthorized>a.btn {
	color: #FFFFFF;
	display: block;
	text-align: center;
	margin: auto;
	width: 45%;
	margin-top: 100px;
}

h4.form-subtitle {
	text-decoration: underline;
	font-style: italic;
	color: #8d8a8a;
}

/* used for compulsory fields in form inputs */
div.form-compulsory>label>span {
	color: #ff0103;
	font-weight: bold;
}

div.form-group label {
	margin: 10px 15px 5px 0;
}

span.tip {
	color: #ff0103;
	font-size: 12px;
	display: block;
	text-align: left;
	margin: -5px 0 20px 5px;
}

div.solaris-filter-container {
	background: #e7e7e7;
	margin-bottom: 2px;
	padding: 10px;
}

div.solaris-filter-container>select {
	display: inline-block;
	width: 220px;
}

div.dataTables_length {
	float: left;
	display: inline-block;
}

div.dataTables_length > select {
	margin-right: 5px;
}

/***********************************************************/

/* multiple platform adaption*/
@media ( max-width : 600px) {
	.solaris-footer {
		font-size: 0.75em;
	}
	span.solaris-title {
		font-size: 175%;
	}
}

@media ( max-width : 450px) {
	.solaris-button-text {
		display: none;
	}
}

@media ( max-width : 400px) {
	.solaris-footer {
		font-size: 0.7em;
	}
	span.solaris-title {
		font-size: 150%;
	}
}