@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

html, body {
	height: 100%;
	min-height: 450px;
	min-width: 310px;
}

div.container {
	padding-bottom: 80px;
}


.solaris-footer {
	color: #ffffff;
	background-color: #337ab7;
	text-align: center;
	font-size: 0.85em;
	font-style: italic;
	text-decoration: underline;
	padding-top: 10px;
	margin-top: 10px;
}

/* specifically customized style for logout form inside the dropdown menu */
input[type=submit].solaris-logout {
	-webkit-appearance: listitem;
	-moz-appearance: menuitem;
	display: block;
	background-color: #f0ad4e;
	color: #FFFFFF;
	width: 100%;
	text-align: left;
	padding: 3px 18px;
	width: 100%;
}

input[type=file].solaris-file-input {
	width: 35%;
	min-width: 250px;
	cursor: pointer;
	font-weight: bold;
	font-style: italic;
}

li.solaris-logout {
	background-color: #f0ad4e
}

div.solaris-title>p {
	font-size: 200%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	padding-left: 10px;
	color: #337ab7;
	font-weight: bold;
	text-align: center;
}

div.solaris-title>p>img {
	display: inline-block;
	width: 66px;
	height: 66px;
	margin-left: 10px;
}

img.solaris-title{
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	width: 140px;
	height: 140px;
}

/* Blur */
img.solaris-title:hover{
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

span.solaris-title {
	font-size: 180%;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	margin-left: 15px;
}

.solaris-table-container {
	background: #e7e7e7;
	padding: 10px;
	border-radius: 4px;
}

.solaris-table-container>div>table {
	background: #FFFFFF;
}

.solaris-table-container table tr {
	padding: 0px;
}

.solaris-table-container table th {
	background: #337ab7;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}

.table-buttons {
	background: #d0d0d0;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.table-buttons>button {
	margin-right: 5px;
}

div.form-container {
	float: none;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

div.unauthorized {
	text-align: center;
}

div.unauthorized > p {
	color: #ff4444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	font-size: 210%;
	font-weight: bold;
	padding-bottom: 15px;
}

div.unauthorized > span {

	color: #ff4444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	font-size: 1.1em;
	font-style: italic;
}

div.unauthorized #img-unauthorized img {
	width: 340px;
	height: 370px;
	display: block;
	margin: auto;
	width: 344px;
}

.unauthorized > a.btn {
	color: #FFFFFF;
	display: block;
	text-align: center;
	margin: auto;
	width: 30%;
	max-width: 300px;
	min-width: 130px;
	margin-top: 70px;
}

h4.form-subtitle {
	text-decoration: underline;
	font-style: italic;
	color: #8d8a8a;
}

/* used for compulsory fields in form inputs */
div.form-compulsory>label>span {
	color: #ff0103;
	font-weight: bold;
}

div.form-group label {
	margin: 10px 15px 5px 0;
}

span.tip {
	color: #ff0103;
	font-size: 12px;
	display: block;
	text-align: left;
	margin: -5px 0 20px 5px;
}

div.solaris-filter-container {
	background: #e7e7e7;
	margin-bottom: 2px;
	padding: 10px;
}

div.solaris-filter-container>select {
	display: inline-block;
	width: 220px;
}

div.dataTables_length {
	float: left;
	display: inline-block;
}

div.dataTables_length > select {
	margin-right: 5px;
}

/* Used for highlighting error input fields */
div.form-group > .error-border {
	border: 1px solid #ff0103;
}

div.solaris-article {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.1em;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

div.page-navigation {
	margin-top: 55px;
	display: block;
	text-align: center;
}

div.page-navigation > span {
	margin: 0 18px;
}

div.training-option {
	width: 47%;
	height: 100%;
	display: inline-block;
	padding: 2px;
	text-align: center;
	min-width: 245px;
}

div.modal-body-notification {
	padding: 2px;
	text-align: center;
	min-width: 245px;
}

div.training-option-left {
	border-right: solid 1px #ccc;
}

div.training-option > img {
	height: 140px;
	width: 140px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}


div.training-option > p{
	margin-top: 10px;
	padding: 2px;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    min-height: 50px;
}

div.solaris-row {
	min-width: 285px;
}

img.iconic {
	width: 30px;
	height: 30px;
	margin: 5px;
}

button.iconic {
	width: 180px;
	margin-bottom: 10px;
	text-align: left;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.iconic:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

div.iconic {
	text-align: center;
	width: 100%;
	margin: 5px;
}

p.tutorial {
	text-align: center;
}

img.tutorial {
	width: 80%;
	height: auto;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: auto;
	display: block;
	padding: 5px;
	margin-top: 25px;
}

span.tutorial {
	margin-top: 20px;
	margin-bottom: 15px;
	display: block;
	font-size: 0.9em;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

div.training-notification {
	font-size: 1.2em;
	color: #5cb85c;
	font-weight: bold;
	text-align: center;
	margin: 15px;
	border: 1px solid #5cb85c;
	border-radius: 5px;
	padding: 15px 5px;
}

div.modal-body-notification {
	padding: 2px;
	text-align: center;
	min-width: 245px;
}


div.modal-body-notification > img {
	height: 140px;
	width: 140px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

div.modal-body-notification > span {
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    min-height: 50px;
    font-weight: bold;
    font-size: 1.3em;
}

div.modal-body-notification > span#test_score {
	font-size: 250%;
	color: #6dc066;
	font-style: italic;
}

div.modal-body-notification > p{
	margin-top: 5px;
	text-align: center;
    font-size: 1em;
}


/***********************************************************/

/* multiple platform adaption*/
@media ( max-width : 600px) {
	.solaris-footer {
		font-size: 0.75em;
	}
	span.solaris-title {
		font-size: 175%;
	}
}

@media ( max-width : 550px) {
	div.training-option {
		display: block;
		margin-bottom: 20px;
	}
	
	div.training-option-left {
		border: 0px;
		margin: 0 auto;
		margin-bottom: 20px;
		border-bottom: solid 2px #ccc;
    }
    
    div.training-option-right {
    	margin: 0 auto;
    }
}

@media ( max-width : 450px) {
	.solaris-button-text {
		display: none;
	}
}

@media ( max-width : 400px) {
	.solaris-footer {
		font-size: 0.7em;
	}
	span.solaris-title {
		font-size: 150%;
	}
}