<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Solaris - IT Assessment 02</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/solaris/resources/lib/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/solaris/resources/app/css/shared.css" />
<ct th:replace="fragments/header :: commonhead"></ct>
</head>
<body>
    
	<!-- Common header -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container" id="layout">
		<div class="row">
            <img class="solaris-title" src="/solaris/resources/app/img/it-training.png" />
            <span class="solaris-title">IT Assessment 02</span>
			<hr></hr>

			<div class="col-lg-12 col-sm-12 table-buttons">
				<button id="new_it_assessment_btn" type="button" data-toggle="modal" data-target="#it-assessment-choose-modal" class="btn btn-primary">
					<span class="glyphicon glyphicon-repeat" aria-hidden="true">
					</span> <span class="solaris-button-text"> Redo</span>
				</button>
			</div>

			<div class="col-lg-12 col-sm-12">
			</div>
		</div>
	</div>

	<div class="navbar navbar-fixed-bottom solaris-footer">
		<!-- Common footer -->
		<div th:replace="fragments/footer-without-datatable :: footer"></div>
	</div>
	<!--script src="/solaris/resources/app/js/sub-trainings.js" type="text/javascript"></script-->
</body>
</html>